$fontFamily: 'Roboto', sans-serif;

.text-field {
    font-family: $fontFamily;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.text-field label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.text-field input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;    
}

input.ng-invalid.ng-touched::placeholder {
    opacity: 0.7;
    color: red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;    
}

select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

select.ng-valid.ng-touched {
    border: 1px solid green;    
}

select.ng-invalid.ng-touched {
    border: 1px solid red;    
}